/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-colored-stripe-block  {
  background: $gray-100;
  border: 1px dotted $gray-300;
  color: $gray-900;
  padding: 2rem;
}
