/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: rgb(41, 41, 41);
$white: #f4f4f4;
$gray: #dedede;
$green: #bada55;
$red: orangered;

$white:    #fff;
$gray-100: #F4F7FB;
$gray-200: #E2E6EF;
$gray-300: #C4CBD9;
$gray-400: #ABB3C5;
$gray-500: #8D96AA;
$gray-600: #6B758A;
$gray-700: #4C5567;
$gray-800: #353C49;
$gray-900: #1E222A;
$black:    #000;
